* {
 margin-bottom: 5px;
}
body {
 max-width: 700px;
 margin: auto;
}
main {
 padding: 10px;
 height: auto;
}
input[type=text], input[type=number], .canal {
 width: 172.98px;
 height: 30px;
 border-radius: 5px;
 border: 1px solid black;
 text-align: center;
 padding: 0;
}

#gerador {
 display: flex;
 flex-wrap: wrap;
}

#gerador input {
 margin-right: 5px;
}
#resultado input {
 width: calc(100% - 130px);
}
.btn {
 width: 120px;
 height: 30px;
 border-radius: 5px;
 padding: 0;
 vertical-align: top;
}
.btn:disabled {
 cursor: not-allowed;
 pointer-events: all !important;
}
input[type=text]:disabled, input[type=number]:disabled, .canal:disabled {
 cursor: not-allowed;
 background-color: rgb(231, 230, 230);
}
.row {
 margin-left: 0px;
}
.btn-gerar {
 margin-left: 5px;
}