<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Easy HDM {% endblock %}</title>
        <link rel="shortcut icon" href="favicon_created_by_logaster.ico" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <nav class="nav nav-pills flex-column flex-sm-row mt-1 mb-1">
        <a
            {% if request.endpoint == "index" %} class="flex-sm-fill text-sm-center nav-link botao active" {% endif %}
            class="flex-sm-fill text-sm-center nav-link botao" aria-current="page" href="{{ url_for('index') }}">Inicio
        </a>
        <a
            {% if request.endpoint == "wifi" %} class="flex-sm-fill text-sm-center nav-link botao active" {% endif %}
            class="flex-sm-fill text-sm-center nav-link botao" aria-current="page" href="{{ url_for('wifi') }}">Wi-Fi
        </a>
        <a
            {% if request.endpoint == "portas" %} class="flex-sm-fill text-sm-center nav-link botao active" {% endif %}
            class="flex-sm-fill text-sm-center nav-link botao" href="{{ url_for('portas') }}">Portas
        </a>
        <a
            {% if request.endpoint == "sip" %} class="flex-sm-fill text-sm-center nav-link botao active" {% endif %}
            class="flex-sm-fill text-sm-center nav-link botao" href="{{ url_for('sip') }}">SIP
        </a>
      </nav>
    <body>
        <main class="border border-primary rounded" id="conteudo">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="text-center"><a class="text-decoration-none text-primary" href="mailto:mateus.lourenco@telefonica.com">Desenvolvido por Mateus Lourenço</a></footer>
    </body>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>