{% extends 'base.html' %}
{% block title %}{{ super() }} - Portas {% endblock %}
{% block content %}

<h1 class="text-center">Portas</h1>
<fieldset class="border p-2 mb-1">
    <legend>Protocolo</legend>
    <div class="form-check">
        <input class="form-check-input opt-udp" type="checkbox" id="defaultCheck1" checked>
        <label class="form-check-label" for="defaultCheck1">
            UDP
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input opt-tcp" type="checkbox" id="defaultCheck2" checked>
        <label class="form-check-label" for="defaultCheck2">
            TCP
        </label>
    </div>
</fieldset>
<fieldset class="border p-2 mb-1">
    <legend>Informações da regra</legend>
    <div>
        <div>
            <input class="porta" type="text" id="port-name" placeholder="Nome da regra">
        </div>
        <div>
            <input class="porta" type="text" id="ip-interno" placeholder="IP Interno">
        </div>
        <div>
            <input class="porta" type="text" id="porta-interna" placeholder="Porta interna">
        </div>
        <div>
            <input class="porta" type="text" id="porta-externa" placeholder="Porta externa">
            <button type="button" class="btn btn-primary" id="create" onclick="regraDePortas()">Gerar</button>
        </div>


    </div>
</fieldset>
<fieldset class="border p-2 mb-1">
    <legend>Resultado</legend>
    <div id="resultado">
        <div id="doisQuPontoatro">
            <input type="text" id="result-port" readonly="readonly">
            <button type="button" class="btn btn-primary" id="btn-port" disabled="disabled" onclick="copy('result-port')">Copiar</button>
        </div>
    </div>
</fieldset>

{% endblock %}